@inherits LayoutComponentBase

<input type="checkbox" id="sidebar-collapse-toggle" class="sidebar-collapse-checkbox" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="text-muted">Hello, @Environment.UserName</span>
            <div class="d-flex gap-2 align-items-center">
                <LanguageSelector />
                <ThemeToggle />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
